MONGO_URI=mongodb://localhost:27017/pryv-chat
JWT_SECRET=your_jwt_secret
EMAIL_USER=your-email@example.com
EMAIL_PASS=your-email-password
TWILIO_SID=your_twilio_sid
TWILIO_AUTH=your_twilio_auth_token
TWILIO_PHONE=+1234567890
SMS_PROVIDER=twilio
TERMII_KEY=your_termii_api_key
MTN_KEY=your_mtn_api_key
PORT=5000
